USE [master]
GO
/****** Object:  Database [hotel_]    Script Date: 26/05/2026 2:22:14 ******/
CREATE DATABASE [hotel_]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hotel_', FILENAME = N'C:\SQLData\Data\hotel_.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hotel__log', FILENAME = N'C:\SQLData\Data\log\hotel__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hotel_].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hotel_]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 26/05/2026 2:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Actividad] [nvarchar](200) NOT NULL,
	[Criticidad] [nvarchar](200) NOT NULL,
	[Fecha] [nvarchar](50) NULL,
	[Hora] [nvarchar](50) NOT NULL,
	[DVH] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/05/2026 2:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contrasena] [varchar](300) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[bloqueado] [bit] NULL,
	[intentos] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id_Bitacora], [Id_Usuario], [Actividad], [Criticidad], [Fecha], [Hora], [DVH]) VALUES (1, 1, N'Inicio de sesión exitoso', N'1', N'26/05/2026', N'01:41:13', NULL)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [Id_Usuario], [Actividad], [Criticidad], [Fecha], [Hora], [DVH]) VALUES (9, 1, N'Inicio de sesión exitoso', N'1', N'26/05/2026', N'02:13:31', NULL)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [Id_Usuario], [Actividad], [Criticidad], [Fecha], [Hora], [DVH]) VALUES (10, 1, N'Inicio de sesión exitoso', N'1', N'26/05/2026', N'02:15:52', NULL)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id_Usuario], [nombre], [apellido], [email], [contrasena], [usuario], [bloqueado], [intentos]) VALUES (0, N'Sistema', N'Auditoría', N'auditoria@sistema.com', N'N/A', N'SISTEMA_AUDITORIA', 1, 0)
INSERT [dbo].[Usuarios] ([Id_Usuario], [nombre], [apellido], [email], [contrasena], [usuario], [bloqueado], [intentos]) VALUES (1, N'carlos', N'manzo', N'manzocarlos@gmail.com', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'CarlosManzo', 0, 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuarios] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuarios]
GO
USE [master]
GO
