main{
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--claro);
}

.form-registro{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.datos-container{
    display: flex;
    align-items: center;
    gap: 30px;
}

.datos-izquierda, .datos-derecha{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    min-height: 85px;
}

.input-container label{
    text-align: left;
}

.input-container input{
    min-width: 260px;
    height: 30px;
    padding: 5px 10px;
}

input, 
button, 
select {
    -webkit-appearance: none; 
    appearance: none;        
    border-radius: 0;
    border: none;
}

.input-container input {
    -webkit-appearance: none; 
    appearance: none;
    background-color: white;
    border: 1px solid rgba(63, 57, 54,0.5);  
    border-radius: 0;
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    outline: none;       
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: var(--primarycolor); 
}


.btn-registrarse{
    font-family: 'Merriweather';
    background-color: var(--primarycolor);
    color: var(--clarito);
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
    min-width: 250px;
    height: 50px;
    box-shadow: 0 4px 10px rgba(63, 57, 54, 0.05);
}

.btn-registrarse:active{
    transform: scale(0.95);
}

.btn-registrarse:hover{
    opacity: 0.9;
    box-shadow: 0 5px 12px rgba(63, 57, 54, 0.1);
}

.error-msj {
    color: #e74c3c;
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
    min-height: 18px;
}

.error-input {
    border-color: #e74c3c;
}

.container-texto {
    display: flex;
    gap: 10px;
}

@media (max-width: 600px){

    .form-registro{
        width: 90%;
       
    }
    .datos-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .btn-registrarse{
        min-width: 0;
        width: 90%;
    }

    .input-container{
        min-width: 0;
        width: 100%;
        align-items: center;
    }

    .datos-izquierda,.datos-derecha{
        width: 100%;
    }

    .input-container input{
       min-width: 0;
       width: 90%;
    } 

    .input-container label{
        width: 90%;
    }

    .form-registro span{
        width: 90%;
      
    }

    #btn-menu{
        display: block;
    }

    .nav-items{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: var(--clarito);
        width: 100%;
    }

    .nav-items.active{
        display: flex;
    }

}

@media (max-height: 900px){
    main{
        padding-top: 130px;
    }
}

